<div class="mt-5 row">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-8" style="background-color: rgba(228, 227, 227, 0.507);">
				<h5 class="card-title pb-2"><a href="/admin/cart">Sample Order Number</h5>
				<div class="card w-75">
					<div class="card-body">
						<h5 class="card-title">{{Face_Mask_Name}}</h5>
						<p class="card-text">{{Size}}</p>
						<p class="card-text">{{Quantity}}</p>
						<a href="#" class="btn btn-primary">Button</a>
					</div>
				</div>
				<br>
				<div class="card w-75">
					<div class="card-body">
						<h5 class="card-title">{{Face_Mask_Name}}</h5>
						<p class="card-text">{{Size}}</p>
						<p class="card-text">{{Quantity}}</p>
						<a href="#" class="btn btn-primary">Button</a>
					</div>
				</div>
				<div class="card w-75">
					<div class="card-body">
						<h5 class="card-title">{{Face_Mask_Name}}</h5>
						<p class="card-text">{{Size}}</p>
						<p class="card-text">{{Quantity}}</p>
						<a href="#" class="btn btn-primary">Button</a>
					</div>
				</div>
				<div class="card w-75">
					<div class="card-body">
						<h5 class="card-title">{{Face_Mask_Name}}</h5>
						<p class="card-text">{{Size}}</p>
						<p class="card-text">{{Quantity}}</p>
						<a href="#" class="btn btn-primary">Button</a>
					</div>
				</div>
			</div>


			<div class="col-md-4">this should be a sidebar, contains: details of the customer,
				the shipping fee, total price, ship button</div>
		</div>
	</div>
</div>