<script>
	$('#popup').on('click', function(){
      $('#link_to_modal_popup').trigger('click');
});
</script>

<div class="mt-5 row">
	<div class="container-fluid">
		<h5 style = "text-align: center;">ORDER NUMBER</h5>
		<div class="row">
			<div class="col-md-6" style="background-color: rgba(228, 227, 227, 0.507)"id="left">
				<br><h5 class="card-title pb-2" style="text-align: center;">Customer Details</h5>
				<div class="card w-50 h-auto" style = "margin:auto">
					<div class="card-body">
						<p class="card-text"><b>Orderdate:</b> {{orderDate}}</p>
						<p contenteditable="TRUE" class="card-text"><b>Firstname:</b> {{firstname}}</p>
						<p contenteditable="TRUE" class="card-text"><b>Lastname:</b> {{lastname}}</p>
						<p contenteditable="TRUE" class="card-text"><b>Contact #:</b> {{contactNo}}</p>
						<p contenteditable="TRUE" class="card-text"><b>Email:</b> {{email}}</p>
						<p contenteditable="TRUE" class="card-text"><b>Address:</b> {{address}}</p>
						<p contenteditable="TRUE" class="card-text"><b>Payment Mode:</b> {{paymentMode}}</p>
						<p contenteditable="TRUE" class="card-text"><b>Payment Date:</b> {{paymentDate}}</p>
						<p contenteditable="TRUE" class="card-text"><b>Delivery Mode:</b> {{deliveryMode}}</p>
						<p contenteditable="TRUE" class="card-text"><b>Delivery Date:</b> {{deliveryDate}}</p>
						<p class="card-text"><b>Total Item:</b> {{totalItems}}</p>
					</div>
				</div>
				
				<br><h5 class="card-title pb-2" style="text-align: center;">Status</h5>
				<div class="card w-50 h-auto" style = "margin:auto">
					<div class="card-body">
						<p class="card-text"><b>Delivery Status:</b> <select class="browser-default custom-select"><option value="ONGOING">ONGOING</option><option value="DELIVERED">DELIVERED</option><option value="{{deliveryStatus}}" disabled selected hidden>{{deliveryStatus}}</option></select></p>
						<p class="card-text"><b>Payment Status:</b> <select class="browser-default custom-select"><option value="TO PAY">TO PAY</option><option value="PAID">PAID</option><option value="{{paymentStatus}}" disabled selected hidden>{{paymentStatus}}</option></select></p>
					</div>
				</div>
				<div class="card-body" style="text-align: center;">
					<a href="#" class="btn btn-primary" style = "background-color: rgb(52, 58, 64); color:white; display:inline-block">Confirm Changes</a>
					<a href="#" class="btn btn-primary" style = "background-color: rgb(52, 58, 64); color:white">Void</a>	
				</div>
			</div>

			<div class="col-md-6" style="background-color: rgba(228, 227, 227, 0.507);float:left" >
			<br><h5 class="card-title pb-2" style="text-align: center;">Order Details</h5>
			{{#each orderItems}}
				{{> orderItem}}
			{{/each}}


		<br><div class="card h-auto" style = "margin:auto; width:275px">
					<div class="card-body">
					<label for "ship"><b>Shipping Fee:</b> {{shippingFee}}</label>
							<input type="text" id="ship"> <button style = "background-color: rgb(52, 58, 64); color:white">ok</button>
							<br><br><p class="card-text"><b>Base Price:</b> {{basePrice}} </p>
							<p class="card-text"><b>Total price:</b> {{totalPrice}}</p>
					</div>
				</div>
				<div class="card-body" style="text-align: center;">
					<br><a href="/admin/inventory" target = "_blank" class="btn btn-primary" style = "background-color: rgb(52, 58, 64); color:white">Check Inventory</a>		
				</div>
			</div>
				
						
			</div>
		</div>
	</div>

</div>
</div>
