<script>
	$('#popup').on('click', function(){
      $('#link_to_modal_popup').trigger('click');
});
</script>

<style>
	label{
		font-weight: bold;
	}
	
</style>

<div class="mt-5 row">
	<div class="container-fluid">
		<h5 style = "text-align: center;">ORDER NUMBER {{_id}}</h5><br>
		{{#if voided}}
		<h5 style = "text-align: center;">VOIDED</h5><br>
		{{else}}
			{{#if canBeVoided}}
				<div style="display: flex; justify-content: center;">
					<textarea id="voidId" name="voidId" readonly="readonly" style="display: none;">{{_id}}</textarea><br>
					<button class="btn btn-primary" style = "background-color: rgb(163, 47, 47); color:white" data-toggle="modal" data-target="#voidModal">Void Order</button>	
				</div><br>
			{{/if}}
		{{/if}}
		<div class="hi" style=" width:auto; margin:0">
				<div class="card" style = "float:left; width:275px; height:424px; overflow:auto">
					<br><h3 class="card-title" style="text-align: center;"> Customer Details</h3><hr>
					<div class="card-body">
						<label for = "orderDate">Order date: </label> <p id="orderDate" style = "display: inline">{{orderDate}}</p><br>
						<label for = "firstname">Firstname: </label> <p id="firstname" style = "display: inline">{{firstname}}</p><br>
						<label for = "lastname">Lastname: </label> <p id="lastname" style = "display: inline">{{lastname}}</p><br>
						<label for = "contact">Contact #: </label> <p  id="contact" style = "display: inline">{{contactNo}}</p><br>
						<label for = "email">Email: </label> <p  id="email" style = "display: inline">{{email}}</p><br>
						<label for = "address">Address: </label> <p  id="address" style = "display: inline">{{address}}</p><br>
						<label for = "payMode">Payment Mode: </label> <p  id="payMode" style = "display: inline">{{paymentMode}}</p><br>
						<label for = "deliMode">Delivery Mode: </label> <p  id="deliMode" style = "display: inline">{{deliveryMode}}</p><br>
					</div>
				</div>
				<div class="card" style = "float: left; width:275px; height:424px;">
					<br><h3 class="card-title" style="text-align: center;"> Delivery Details</h3><hr>
					<div class="card-body">
						<form id="updateDeliveryStatusForm" name="updateDeliveryStatusForm" method="POST" action="/admin/orders/updateDeliveryStatus">
							<textarea id="updateStatusId" name="updateStatusId" readonly="readonly" style="display: none;">{{_id}}</textarea>
							
							{{#if voided}}
							<div>VOIDED</div>
							{{else}}
								<p class="card-text"><b>Edit Delivery Status:</b>
								{{#if delivered}}
									<div>DELIVERED</div>
									<textarea id="deliveryStatus" name="deliveryStatus" readonly="readonly" style="display: none;">DELIVERED</textarea>
								{{else}}
								<select id="deliveryStatus" name="deliveryStatus" class="browser-default custom-select">
									<option value="PROCESSING">PROCESSING</option><option value="DELIVERED">DELIVERED</option>
									<option value="{{deliveryStatus}}" hidden="hidden" selected="selected">{{deliveryStatus}}</option>
								</select></p>
								{{/if}}
							
							<label class="card-text">Delivery Date: {{deliveryDate}} <input type="date" class="form-control" id="deliveryDate" name="deliveryDate" style="width:100%"></label> 
							<div id="updateDeliveryDateError" name="updateDeliveryDateError" class="text-danger" style="text-align:center"></div>
							<button id="updateDeliveryDateBtn" name="updateDeliveryDateBtn" class="btn btn-primary" type="submit" style = "background-color: rgb(52, 58, 64); color:white;margin-left:85.615px;margin-top:10%">Save</a>
							{{/if}}
						</form>
						
					</div>
				</div>
				
				<div class="card" style = "float: left; width:275px; height:424px;">
					<br><h3 class="card-title" style="text-align: center;"> Payment Details</h3><hr>
					<div class="card-body">
						{{#if voided}}
							<div>VOIDED</div>
						{{else}}
						<form method="POST" action="/admin/orders/updatePaymentStatus">
							<textarea id="updateStatusId" name="updateStatusId" readonly="readonly" style="display: none;">{{_id}}</textarea>
							{{#if paid}}
								<p class="card-text"><b>Payement Status: </b>
								<div>PAID</div>
								<textarea id="paymentStatus" name="paymentStatus" readonly="readonly" style="display: none;">PAID</textarea></p>
							{{else}}
								<p class="card-text"><b>Payment Status: </b> <select id="paymentStatus" name="paymentStatus" class="browser-default custom-select"><option value="TO PAY">TO PAY</option><option value="PAID">PAID</option><option value="{{paymentStatus}}" hidden="hidden" selected="selected">{{paymentStatus}}</option></select></p>
							{{/if}}
							<label class="card-text">Payment Date: {{paymentDate}} <input type="date" class="form-control" id="paymentDate" name="paymentDate" style="width:100%"></label> 
							<button class="btn btn-primary" type="submit" style = "background-color: rgb(52, 58, 64); color:white;margin-left:85.615px;margin-top:10%">Save</a>
						</form>
						{{/if}}
					</div>
				</div>

				<div class="card" style = "float:left; width:275px; height:424px; overflow:auto">
					<br><h3 class="card-title" style="text-align: center;">Shipping Fees</h3><hr>
					<div class="card-body">
						{{#if voided}}<div>VOIDED</div> {{else}}
					<p id="shippingFee" name="shippingFee" class="card-text"><b>Shipping Fee:</b> {{shippingFee}}</p>
					
						<form name="shippingFeeForm" id="shippingFeeForm" method="POST" action="/admin/orders/updateShippingFee">
							<input type="number" id="shippingFeeInput" name="shippingFeeInput" style="width:70%"> <button id="shipping-fee-btn" class="btn btn-primary" name="shipping-fee-btn" type="submit" style = "background-color: rgb(52, 58, 64); color:white;width:auto;height:30px;margin-bottom:5px;padding:0">Confirm</button>
							<textarea id="shippingFeeCartId" name="shippingFeeCartId" readonly="readonly" style="display: none;">{{_id}}</textarea>
						</form>
					{{/if}}
							<br><br><p id="basePrice" name="basePrice" class="card-text"><b>Price w/o shipping:</b> {{basePrice}} </p>
							<p id="totalPrice" name="totalPrice" class="card-text"><b>Total price:</b> {{totalPrice}}</p>
							<div id="shippingFeeError" name="shippingFeeError" class="text-danger"></div>
							<p class="card-text"><b>Total Item:</b> {{totalItems}}</p>
					</div>
				</div>
			
			
						
			</div>
		</div>
		</div><br><hr>

		<div class="container-fluid">
			<div class="mt-3 row" style="margin-bottom: 3%;">
				<div class="row" style=" margin:auto">
					<button id="button3" data-toggle="modal" data-target="#myModal2" class = "btn btn-primary" style = "background-color: rgb(52, 58, 64); color:white">View Order Details</button>
				</div>				
			</div>
		</div>

<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document" id="md1">
    	<div class="modal-content">
        	<div class="modal-header text-center">
            	<h4 class="modal-title w-100 font-weight-bold">Order Details</h4>
            	<button type="button" class="close" data-dismiss="modal" id="newProductClose" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
          	</div>
            <div class="modal-body mx-3 py-0">
            	<div class="row md-form my-2 justify-content-center">
                	{{#each orderItems}}
					{{> orderItem}}
					{{/each}}
              	</div>
            </div>
      		<div class="modal-footer d-flex justify-content-center">
       			<button type="button" id="orderDetailsBack" name="orderDetailsBack" class="btn btn-primary" data-dismiss="modal">Back</button>
      		</div>
		</div>
	</div>
</div>

<div id="voidModal" class="modal fade" role="dialog">
          <div id="divtest" class="modal-dialog" id = "md2">
          <div class="modal-content" style="background-color: rgb(247, 242, 242); text-align:center">
              <div class="modal-header" style="text-align: center;background-color;background-color: rgb(52, 58, 64);color:white">
              <h4 class="modal-title">Void Order</h4>
              <button type="button" class="close" data-dismiss="modal" style="color:white">&times;</button>
              </div>
              
            <form method="POST" action="/admin/cart/voidOrder"  style="margin-bottom:30px">
                <textarea id="voidId" name="voidId" readonly="readonly" style="display: none;">{{_id}}</textarea>
                <h2 style="color:red">Warning</h2><hr>
                <h4>Are you sure you want to VOID this order?</h4><br>
                <button type="submit" class="btn btn-danger" style="color:white;" >Yes</button>	
                <button type="button" class="btn btn-primary" style="background-color: rgb(52, 58, 64);" data-dismiss="modal">No</button>
            </form>
          </div>
          </div>
  </div>

