<!-- Datatable-->
<link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/fixedheader/3.1.7/js/dataTables.fixedHeader.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/responsive/2.2.5/js/dataTables.responsive.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/responsive/2.2.5/js/responsive.bootstrap.min.js"></script>
<!-- Selectpicker -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.18/dist/css/bootstrap-select.min.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select"></script>


<style>
    .modal-backdrop {
    z-index: auto;
    }
    #myTabContent{
      z-index: auto;
    }
    .row{
      width:100%;
      margin-top:2%;
    }
</style>

<script>

    function addStock(){ //gets the id of the product from the select, then opens the modal_stock with its id
      var sel = document.getElementById("productselect").value;
     
      if (sel != "")
        $("#modal_stock_"+sel).modal();
      else 
        alert("Please select a product!");
    }

    window.onresize = function(event) //refreshes a window once a viewport size changes KEEP THIS
    {
      document.location.reload(true);
    }

     $(document).ready(function() {
    
         var table = $('#productTable').DataTable({ 
          responsive: true,
          "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]]//can display all data
        }); 
        //new $.fn.dataTable.fixedHeader(table); //this doesnt do anything except returning error
    });

    $(document).ready(function() {
        var table2 = $('#defTable').DataTable( {
        responsive: true
      });
    // $.fn.dataTable.FixedHeader(table2);
    });

    $(document).ready(function() {
          var table3 = $('#logTable').DataTable( {
          responsive: true
      });
    //new $.fn.dataTable.FixedHeader(table3); 
    });

    $(document).ready(function() {
          var table3 = $('#soldTable').DataTable( {
          responsive: true
      });
    //new $.fn.dataTable.FixedHeader(table3); 
    });

    //who knows why but the datatable responsive view only works when the tab class is initially set to "show active"
    //so we have to make those who aren't the front page "not active" when we launch the app
    $(document).ready(function(){                                       
        document.getElementById('deficit').className = 'tab-pane fade';
        document.getElementById('log').className = 'tab-pane fade';
        document.getElementById('sold').className = 'tab-pane fade';
    });
      
    function warning(form) //shows the warning when the user press the phase out button
    {
      var warn = confirm("Warning\nThis will Phase Out the product");
      if (warn){
       return true
      }
      else
        return false
    }

</script>

<style>
  .media-text{
    float:left;
    margin-right: 20px;
  }
  .media-text #btn{
      margin-right: -20px;
  }
  .filter_bar{
    background-color: white;
    margin:auto;
    justify-content: center;
  }
  .card-filter{
    text-align: center;
  }
  #col{
    float:left
  }
  .modal label{
    min-width:50px;
  }
  .modal input{
    min-width:200px;
  }

</style>

{{#if notPhasedOut}}

<div class="modal fade" id="modal_add" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header text-center">
            <h4 class="modal-title w-100 font-weight-bold">New Product</h4>
            <button type="button" class="close" data-dismiss="modal" id="newProductClose" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
          </div>
        <form id="newProductForm" name="newProductForm"method="POST" action="/admin/inventory/addProduct">
            <div class="modal-body mx-3">
              <div class="row md-form my-2 justify-content-center">
                <label class="col-sm-3">Style: </label>
                <input maxlength="16" type="text" class="col-sm-3 form-control validate" name="newProductStyle" id="newProductStyle" required>
              </div>
              <div class="row md-form my-2 justify-content-center">
                <label class="col-sm-3">Shape: </label>
                <input maxlength="20" type="text" class="col-sm-3 form-control validate" name="newProductDescription" id="newProductDescription" required>
              </div>
              <div class="row md-form my-2 justify-content-center">
                <label class="col-sm-3">Color: </label>
                <input maxlength="16" type="text" class="col-sm-3 form-control validate" name="newProductColor" id="newProductColor" required>
              </div>
              <div class="row md-form my-2 justify-content-center">
                <label class="col-sm-3">Price: </label>
                <input min="0" max="9007199254740981" type="number" class="col-sm-3 form-control validate" id="newProductPrice" name="newProductPrice" required>
              </div>
              <hr>
              <h5 class="text-center my-2 justify-content-center">Quantity</h5>
              <div class="row md-form my-2 justify-content-center">
                <label class="col-sm-3">Small: </label>
                <input value="0" min="0" max="9007199254740981" type="number" class="col-sm-3 form-control validate" name="newProductS" id="newProductS" required>
              </div>
              <div class="row md-form my-2 justify-content-center">
                <label class="col-sm-3">Medium: </label>
                <input value="0" min="0" max="9007199254740981" type="number" class="col-sm-3 form-control validate" name="newProductM" id="newProductM" required>
              </div>
              <div class="row md-form my-2 justify-content-center">
                <label class="col-sm-3">Large: </label>
                <input value="0" min="0" max="9007199254740981" type="number" class="col-sm-3 form-control validate" name="newProductL" id="newProductL" required>
              </div>
              <div class="row md-form my-2 justify-content-center">
                <label class="col-sm-3">Extra Large: </label>
                <input value="0" min="0" max="9007199254740981" type="number" class="col-sm-3 form-control validate" name="newProductXl" id="newProductXl" required>
              </div>
              <div id="newProductError" name="newProductError" class="text-danger" style="text-align:center"></div>
              <!--<p id="msgEd1" class="text-danger mb-0 mt-2 text-center"></p>-->
            </div>
          <div class="modal-footer d-flex justify-content-center">
           <button type="submit" id="newProductBtn" name="newProductBtn" class="btn btn-primary">Submit</button>
          </div>
        </form>
    </div>
  </div>
</div>
{{/if}}

<div id="modal_stock_{{_id}}" class="modal fade" role="dialog">
          <div id="divtest" class="modal-dialog" id = "md2">
          <div class="modal-content" style="background-color: rgb(247, 242, 242); text-align:center">
              <div class="modal-header" style="text-align: center;background-color;background-color: rgb(52, 58, 64);color:white">
              <h4 class="modal-title">Update Stock in Inventory</h4>
              <button type="button" class="close" data-dismiss="modal" style="color:white">&times;</button>
              </div>
              
              <form id="updateStockForm" name="updateStockForm" method="POST" action="/admin/inventory/updateStock">
                  <div class="modal-body" style="overflow:auto margin:auto; text-align:center; margin-top:2%">
                      <label for="s">S: </label>
                      <input type="number" name="updateStockS" id="updateStockS" placeholder=" Enter Small Amount"><br>
                      <label for="m">M: </label>
                      <input type="number" name="updateStockM" id="updateStockM" placeholder=" Enter Medium Amount"><br>
                      <label for="l">L: </label>
                      <input type="number" name="updateStockL" id="updateStockL" placeholder=" Enter Large Amount"><br>
                      <label for="xl">XL: </label>
                      <input type="number" name="updateStockXL" id="updateStockXL" placeholder=" Enter Extra Large Amount"><br>
                      <div id="updateStockError" name="updateStockError" class="text-danger" style="text-align:center"></div>
                  </div>
                  <div class="modal-footer">
                      <!--<textarea readonly="readonly" id="productId" name="productId" style="display: none;">{{_id}}</textarea>-->
                      <button type="submit" id="updateStockBtn" name="updateStockBtn" class="btn btn-secondary" style="background-color: rgb(52, 58, 64);">Confirm</button>
                      <button type="button" class="btn btn-secondary" style="background-color: rgb(52, 58, 64);" data-dismiss="modal">Close</button>
                  </div>
              </form>
          </div>
          </div>
  </div>



<!-- FILTER DIV-->
<!--
<div class="jumbotron shadow p-4 text-center">
    <h4>Filter: {{resultsMessage}}</h4><hr>
    <form class="form-inline justify-content-center" id="searchInventory" name="searchInventory" mehtod="get" action="#">
        <input class="form-control col-sm-2 my-2" type="text" name="style" id="style" placeholder="Style">
        <input class="form-control col-sm-2 my-2 mx-sm-3" type="text" name="color" id="color" placeholder="Color">
        <input class="form-control col-sm-2 my-2" type="text" name="description" id="description" placeholder="Description">
        <button class="btn btn-primary my-sm-2 mx-3" id="btn" type="submit">Apply Filter</button>
    </form>
</div>
-->

<div class="jumbotron shadow p-4 mb-2 text-center">
    <h4>Inventory</h4>
</div>

<ul class="nav nav-mytabs" id="myTab" role="tablist">
  <li class="nav-item">
      <a class="nav-link active" id="products-tab" data-toggle="tab" href="#products" role="tab" aria-controls="products" aria-selected="true">Products</a>
    </li>
    <li class="nav-item">
      {{#if notPhasedOut}}
        <a class="nav-link" id="deficit-tab" data-toggle="tab" href="#deficit" role="tab" aria-controls="deficit" aria-selected="false" style=>Deficit</a>
      {{else}}
      {{/if}}
    </li>
    <li class="nav-item">
      {{#if notPhasedOut}}
        <a class="nav-link" id="log-tab" data-toggle="tab" href="#log" role="tab" aria-controls="log" aria-selected="false">Log</a>
      {{else}}
      {{/if}}
    </li>
    <li class="nav-item">
      {{#if notPhasedOut}}
        <a class="nav-link" id="sold-tab" data-toggle="tab" href="#sold" role="tab" aria-controls="sold" aria-selected="false">Sold</a>
      {{else}}
      {{/if}}
    </li>
</ul>

<!-- START OF TABS -->
<div class="tab-content mytab-content" id="myTabContent">
  <!-- PRODUCTS TAB -->
  <div class="tab-pane fade show active" id="products" role="tabpanel" aria-labelledby="products-tab">
    <!-- PLACE CODES HERE -->
  <table class="table table-striped" id="productTable" style="padding:0">
    <br>
     {{#if notPhasedOut}}
     <a href="/admin/inventory/phasedOut"><button class="btn btn-primary">Check Phased Out Product</button></a>
     <div style="float:right">
     <select data-size="10" class="selectpicker show-tick" name="productselect" id="productselect" data-live-search="true" title="Select Product" data-width="250px" >
                {{#each products}}
                  <option value={{_id}}>{{color}} {{style}} {{description}}</option>
                {{/each}}
      </select>
      <button class="btn btn-primary mt-2" onClick="addStock()">Add Stock</button>
     <button style="margin-right:27px" class="btn btn-primary mt-2" data-toggle="modal" data-target="#modal_add">Add New Product</button></div>
    {{else}}
      <a href="/admin/inventory"><button class="btn btn-primary">Check Inventory</button></a>
    {{/if}}
	<thead>
        <tr>
            <th class="d-xl-none"></th>
            <!-- these columns are hidden but kinda makes the datatable responsive view weird, so removed for now-->
            <!--
            <th class="d-none">Image</th> 
            <th class="d-none">id</th>
            -->
            <th>Color</th>
            <th>Style</th>
            <th>Shape</th>
            <th >Price</th>
            <th>Small</th>
            <th>Medium</th>
            <th>Large</th>
            <th>Extra Large</th>
            <th>Total Available</th>
            
            <th></th>
            
        </tr>
		</thead>
		<tbody>
      
        {{#each products}}
        {{> orderTable}}
      {{/each}}
      
    </tbody>
	</table>
    <!-- PLACE CODES HERE -->
  </div>
  <!-- DEFICIT TAB -->
  <div class="tab-pane fade show active" id="deficit" role="tabpanel" aria-labelledby="deficit-tab"   style="overflow: auto;"> 
    
    <!-- PLACE CODES HERE -->
    <table class="table table-striped" id="defTable" style="padding:0; width:100%">
    <thead>
        <tr>
            <th class="d-xl-none"></th>
            <th>Color</th>
            <th>Style</th>
            <th>Shape</th>
            <th>Small</th>
            <th>Medium</th>
            <th>Large</th>
            <th>Extra Large</th>
            <th>Total Deficit</th>
        </tr>
    </thead>
    <tbody>
      {{#each products}}
      {{> deficitTable}}
      {{/each}}
    </tbody>
</table>

    <!-- PLACE CODES HERE -->
  </div>
  <!-- LOG TAB -->
  <div class="tab-pane fade show active" id="log" role="tabpanel" aria-labelledby="log-tab"  style="overflow: auto;">
    <!-- PLACE CODES HERE -->
   <table class="table table-striped" id="logTable" style="text-align: center; width:100%">
    <thead>
        <tr>
            <th class="d-xl-none"></th>
            <th>Date Enconded</th>
            <th>Color</th>
            <th>Style</th>
            <th>Shape</th>
            <th>S</th>
            <th>M</th>
            <th>L</th>
            <th>XL</th>
        </tr>
    </thead>
    <tbody>
      
      {{#each inventoryRecords}}
        {{> logTable}}
      {{/each}}
      
    </tbody>
    </table>
    <!-- PLACE CODES HERE -->
  </div>
  <!-- SOLD TAB -->
  <div class="tab-pane fade show active" id="sold" role="tabpanel" aria-labelledby="sold-tab">
    <table class="table table-striped" id="soldTable" style="padding:0; width:100%">
    <thead>
        <tr>
            <th class="d-xl-none"></th>
            <th>Color</th>
            <th>Style</th>
            <th>Shape</th>
            <th>Small</th>
            <th>Medium</th>
            <th>Large</th>
            <th>Extra Large</th>
            <th>Total Sold</th>
        </tr>
    </thead>
    <tbody>
      {{#each products}}
      {{> soldTable}}
      {{/each}}
    </tbody>
</table
  </div>
</div>
<!-- END OF TABS -->




