<link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/fixedheader/3.1.7/js/dataTables.fixedHeader.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/responsive/2.2.5/js/dataTables.responsive.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/responsive/2.2.5/js/responsive.bootstrap.min.js"></script>

<script>
  $(document).ready(function() {
      var table = $('#pTable').DataTable({ 
        responsive: true
      }); 
  });

  window.onresize = function(event) //refreshes a window once a viewport size changes
  {
    document.location.reload(true);
  }

  function imgFlip(td){ //flips the +,- icon upon click
        var bg = $(td).css('background-image');
        bg = bg.replace('url("','').replace('")','');
        if (bg === 'http://localhost:3001/assets/add.png')
            $(td).css('background-image','url(../assets/minus.png)')
        else
            $(td).css('background-image','url(../assets/add.png)')
    }
</script>

<style>
  .media-text{
    float:left;
    margin-right: 20px;
  }
  .media-text #btn{
      margin-right: -20px;
  }
  .filter_bar{
    background-color: white;
    margin:auto;
    text-align: center;
  }
  .card-filter{
    text-align: center;
  }
  #col{
    float:left
  }
  .modal label{
    min-width:100px;
  }
  .modal input{
    min-width:200px;
  }
  .modal select{
    min-width:200px;
  }
  .card{
    text-align: center;
  }
  input{
    width:150px;
  }
  .row{
      width:100%;
      margin-top:2%;
  }
  th{
    font-size:12px;
  }
</style>

<div class="jumbotron shadow p-4 text-center">
  <h4>{{resultsMessage}}</h4>
    <form class="form-inline justify-content-center" id="searchInventory" name="searchInventory" mehtod="get" action="#">
        <select class="form-control custom-select col-sm-2 my-2 mx-sm-3" id="status" name="status">
          <option hidden disabled selected value>Status...</option>
          <option value = "CUTTING">Cutting</option>
          <option value = "SEWING">Sewing</option>
          <option value = "PRINTING">Printing</option>
          <option value = "WASHING">Washing</option>
          <option value = "CANCELLED">Cancelled</option>
          <option value = "DONE">Done</option>
        </select>
        <input placeholder="Start Date" class="form-control my-2 col-sm-2" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" id="dateStart" name="dateStart"/>
        <input placeholder="End Date" class="form-control my-2 mx-sm-3" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" id="dateEnd" name="dateEnd"/>
        <button class="btn btn-primary mt-2" id="btn" type="submit">Apply Filter</button>
    </form>
</div>


      <div class="jumbotron shadow p-4 text-center" style="width:100%;overflow:auto" id="jobOrderCardContainer">
          <table class="table table-hover" id="pTable">
              <thead>
                <button type="button" class="btn btn-primary" id="add" data-toggle="modal" data-target="#modal_joborder" style="float:right;margin-right:30px">Add New Job Order</button>
                <tr>
                  <th class="d-xl-none"></th>
                  <th>Date Encoded</th>
                  <th>Batch No</th>
                  <th>Style</th>
                  <th>Description</th>
                  <th>Color</th>
                  <th>TTL</th>
                  <th>Status</th>
                  <th>Actual Output</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {{#each jobOrderCards}}
                  <tr>
                    <td class="d-xl-none"  onclick="imgFlip(this)" style="background-image: url(../assets/add.png); background-size:25px; background-repeat:no-repeat; background-position: center;"></td>
                    {{> jobOrderCard}}
                  </tr>
                  
                {{/each}}
              </tbody>
          </table>
          
          {{#each jobOrderCards}}
          {{> productModal}}
          {{/each}}
        </div>

        {{!-- {{#each jobOrderCards}}
            {{> jobOrderCard}}
        {{/each}}

        {{#if noResults}}
          <h4 class="col-sm-4 col-md-4">No results returned</h4><hr>
        {{/if}} --}}


<div class="modal fade" id="modal_joborder" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header text-center">
            <h4 class="modal-title w-100 font-weight-bold">New Job Order</h4>
            <button type="button" class="close" data-dismiss="modal" id="newJobOrderClose" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
          </div>
        <form id="newJobOrderForm" name="newJobOrderForm"method="POST" action="/admin/production/addJobOrder">
            <div class="modal-body mx-3">
              <div class="row md-form my-2 justify-content-center">
                <select data-size="10" class="selectpicker show-tick" name="newJobOrderSelect" id="newJobOrderSelect" data-live-search="true" title="Select Product" data-width="250px" required>
                {{#each products}}
                  <option value={{_id}}>{{style}} {{description}} {{color}}</option>
                {{/each}}
              </select>
              </div>
              <div class="row md-form my-2 justify-content-center">
                <label class="col-sm-3">Batch No: </label>
                <input maxlength="16" type="text" class="col-sm-3 form-control validate" name="newJobOrderBatchNo" id="newJobOrderBatchNo" required>
              </div>
              <hr>
              <h5 class="text-center my-2 justify-content-center">Order Breakdown</h5>
              <div class="row md-form my-2 justify-content-center">
                <label class="col-sm-3">Small: </label>
                <input min="0" max="9007199254740981" type="number" class="col-sm-3 form-control validate" id="newJobOrderSmall" name="newJobOrderSmall" required>
              </div>
              <div class="row md-form my-2 justify-content-center">
                <label class="col-sm-3">Medium: </label>
                <input min="0" max="9007199254740981" type="number" class="col-sm-3 form-control validate" id="newJobOrderMedium" name="newJobOrderMedium" required>
              </div>
              <div class="row md-form my-2 justify-content-center">
                <label class="col-sm-3">Large: </label>
                <input min="0" max="9007199254740981" type="number" class="col-sm-3 form-control validate" id="newJobOrderLarge" name="newJobOrderLarge" required>
              </div>
              <div class="row md-form my-2 justify-content-center">
                <label class="col-sm-3">Xtra Large: </label>
                <input min="0" max="9007199254740981" type="number" class="col-sm-3 form-control validate" id="newJobOrderExtraLarge" name="newJobOrderExtraLarge" required>
              </div>
              <hr>
              <h5 class="text-center my-2 justify-content-center">Additional Details</h5>
              <div class="row md-form my-2 justify-content-center">
                <label class="col-sm-3">Yardage: </label>
                <input min="0" max="9007199254740981" type="number" class="col-sm-3 form-control validate" id="newJobOrderYardage" name="newJobOrderYardage">
              </div>
              <div class="row md-form my-2 justify-content-center">
                <label class="col-sm-3">Remarks: </label>
                <textarea class="col-sm-5 form-control validate" id="newJobOrderRemarks" name="newJobOrderRemarks"></textarea>
              </div>
              <div id="newJobOrderError" name="newJobOrderError" class="text-danger" style="text-align:center"></div>
              <!--<p id="msgEd1" class="text-danger mb-0 mt-2 text-center"></p>-->
            </div>
          <div class="modal-footer d-flex justify-content-center">
           <button type="submit" id="newJobOrderBtn" name="newJobOrderBtn" class="btn btn-primary">Submit</button>
          </div>
        </form>
    </div>
  </div>
</div>

<div id="modal_production_5f7229861602f91ec410164b" class="modal fade" role="dialog">
        <div id="divtest" class="modal-dialog" id = "md2">
          <div class="modal-content" style="background-color: rgb(247, 242, 242); text-align:center">
            <div class="modal-header" style="text-align: center;background-color;background-color: rgb(52, 58, 64);color:white">
              <h4 class="modal-title">Job Order Details</h4>
              <button type="button" class="close" data-dismiss="modal" style="color:white">&times;</button>
            </div>
            <form id="updateRemarksForm" name="updateRemarksForm" method="POST" action="/admin/production/updateRemarks">
              <div class="modal-body mx-3" style="overflow:auto">
                <table class="table table-striped">
                    <thead>
                        <th>S</th>
                        <th>M</th>
                        <th>L</th>
                        <th>XL</th>
                        <th>Yardage</th>
                        <th>Remarks</th>
                    </thead>
                    <tbody>
                        <td>{{smallOrder}}</td>
                        <td>{{mediumOrder}}</td>
                        <td>{{largeOrder}}</td>
                        <td>{{extraLargeOrder}}</td>
                        <td>{{yardage}}</td>
                        <td ><textarea placeholder="Maximum 80 characters" id="newRemarks" name="newRemarks" maxlength="80">{{remarks}} </textarea></td>
                    </tbody>
                </table>
                </div>
                <div class="modal-footer">
                        <textarea readonly="readonly" id="updateRemarkId" name="updateRemarkId" style="display: none;">{{_id}}</textarea>
                        <button type="submit" class="btn btn-secondary" style="background-color: rgb(52, 58, 64);">Confirm</button>
                        <button type="button" class="btn btn-secondary" style="background-color: rgb(52, 58, 64);" data-dismiss="modal">Close</button>
                </div>
              </form>
            </div>
        </div>
</div>





<div id="modal_ttloutput_{{_id}}" class="modal fade" role="dialog">
        <div id="divtest" class="modal-dialog" id = "md2">
          <div class="modal-content" style="background-color: rgb(247, 242, 242); text-align:center">
            <div class="modal-header" style="text-align: center;background-color;background-color: rgb(52, 58, 64);color:white">
              <h4 class="modal-title">Actual Output</h4>
              <button type="button" class="close" data-dismiss="modal" style="color:white">&times;</button>
            </div>
            <form id="updateRemarksForm" name="updateRemarksForm" method="POST" action="/admin/production/updateRemarks">
              <table class="table table-striped">
                  <thead>
                      <th>S</th>
                      <th>M</th>
                      <th>L</th>
                      <th>XL</th>
                  </thead>
                  <tbody>
                      <td>{{smallOutput}}</td>
                      <td>{{mediumOutput}}</td>
                      <td>{{largeOutput}}</td>
                      <td>{{extraLargeOutput}}</td>
                  </tbody>
              </table>
              <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" style="background-color: rgb(52, 58, 64);" data-dismiss="modal">Close</button>
              </div>
            </form>
          </div>
        </div>
</div>



<div id="modal_production_{{_id}}" class="modal fade" role="dialog">
        <div id="divtest" class="modal-dialog" id = "md2">
          <div class="modal-content" style="background-color: rgb(247, 242, 242); text-align:center">
            <div class="modal-header" style="text-align: center;background-color;background-color: rgb(52, 58, 64);color:white">
              <h4 class="modal-title">Job Order Details</h4>
              <button type="button" class="close" data-dismiss="modal" style="color:white">&times;</button>
            </div>
            <form id="updateRemarksForm" name="updateRemarksForm" method="POST" action="/admin/production/updateRemarks">
              <div class="modal-body mx-3" style="overflow:auto">
                <table class="table table-striped">
                    <thead>
                        <th>S</th>
                        <th>M</th>
                        <th>L</th>
                        <th>XL</th>
                        <th>Yardage</th>
                        <th>Remarks</th>
                    </thead>
                    <tbody>
                        <td>{{smallOrder}}</td>
                        <td>{{mediumOrder}}</td>
                        <td>{{largeOrder}}</td>
                        <td>{{extraLargeOrder}}</td>
                        <td>{{yardage}}</td>
                        <td ><textarea placeholder="Maximum 80 characters" id="newRemarks" name="newRemarks" maxlength="80">{{remarks}} </textarea></td>
                    </tbody>
                </table>
                </div>
                <div class="modal-footer">
                        <textarea readonly="readonly" id="updateRemarkId" name="updateRemarkId" style="display: none;">{{_id}}</textarea>
                        <button type="submit" class="btn btn-secondary" style="background-color: rgb(52, 58, 64);">Confirm</button>
                        <button type="button" class="btn btn-secondary" style="background-color: rgb(52, 58, 64);" data-dismiss="modal">Close</button>
                </div>
              </form>
            </div>
        </div>
</div>

<div id="modal_actual_{{_id}}" class="modal fade" role="dialog">
        <div id="divtest" class="modal-dialog" id = "md2">
          <div class="modal-content" style="background-color: rgb(247, 242, 242); text-align:center">
            <div class="modal-header" style="text-align: center;background-color;background-color: rgb(52, 58, 64);color:white">
              <h4 class="modal-title">Input Actual Outputs</h4>
              <button type="button" class="close" data-dismiss="modal" style="color:white">&times;</button>
            </div>
            <form id="resolveJobOrderForm" name="resolveJobOrderForm" method="POST" action="/admin/production/resolveJobOrder">
                <div class="modal-body" style="overflow:auto margin:auto; text-align:center; margin-top:2%">
                  <div><b>Note</b><hr> Resolving this job order will mark it as <b><i>DONE</i></b> and update the inventory accordingly.</div><br><br>
                  <textarea readonly="readonly" id="resolveJobOrderId" name="resolveJobOrderId" style="display: none;">{{_id}}</textarea>
                  <textarea readonly="readonly" id="resolveJobOrderProductId" name="resolveJobOrderProductId" style="display: none;">{{productId}}</textarea>
                  <div class="row md-form my-2 justify-content-center">
                    <label class="col-sm-3" for="resolveJobOrderSmallOutput">S: </label>
                    <input style="width:auto" class="col-sm-3 form-control validate" min="0" max="9007199254740981" type="number" name="resolveJobOrderSmallOutput" id="resolveJobOrderSmallOutput" placeholder=" Enter Small Amount"><br>
                  </div>
                  <div class="row md-form my-2 justify-content-center">  
                    <label class="col-sm-3" for="resolveJobOrderMediumOutput">M: </label>
                    <input style="width:auto" class="col-sm-3 form-control validate" min="0" max="9007199254740981" type="number" name="resolveJobOrderMediumOutput" id="resolveJobOrderMediumOutput" placeholder=" Enter Medium Amount"><br>
                   </div>
                   <div class="row md-form my-2 justify-content-center">
                    <label class="col-sm-3" for="resolveJobOrderLargeOutput">L: </label>
                    <input style="width:auto" class="col-sm-3 form-control validate" min="0" max="9007199254740981" type="number" name="resolveJobOrderLargeOutput" id="resolveJobOrderLargeOutput" placeholder=" Enter Large Amount"><br>
                  </div> 
                  <div class="row md-form my-2 justify-content-center">
                    <label class="col-sm-3" for="resolveJobOrderExtraLargeOutput">XL: </label>
                    <input style="width:auto" class="col-sm-3 form-control validate" min="0" max="9007199254740981" type="number" name="resolveJobOrderExtraLargeOutput" id="resolveJobOrderExtraLargeOutput" placeholder=" Enter Extra Large Amount"><br>
                  </div>  
                    <div id="resolveJobOrderError" name="resolveJobOrderError" class="text-danger" style="text-align:center"></div>
                </div>
                <div class="modal-footer">
                    <textarea class="col-sm-5 form-control validate" readonly="readonly" id="productId" name="productId" style="display: none;">{{_id}}</textarea>
                    <button type="submit" id="resolveJobOrderBtn" name="resolveJobOrderBtn" class="btn btn-secondary" style="background-color: rgb(52, 58, 64);">Confirm</button>
                    <button type="button" class="btn btn-secondary" style="background-color: rgb(52, 58, 64);" data-dismiss="modal">Close</button>
                </div>
            </form>
          </div>
        </div>
</div>
