 <div class="el-wrapper">
        <div class="box-up">
        <a class = "imageCart" href="/item/{{_id}}">
        <img id="productImage" name="productImage" src="/productimgs/{{image}}" class="card-img" alt="...">
        </a>
          <div class="img-info">
            <div class="info-inner" style="margin-bottom:30px">
              <span class="p-name"><b>{{description}}</b></span>
              <span class="p-company">{{color}}</span>
            </div>
            <div class="a-size">Available sizes : <span class="size">S , M , L , XL</span></div>
          </div>
        </div>

        <div class="box-down">
          <div class="h-bg">
            <div class="h-bg-inner"></div>
          </div>

          <a class="cart" href="/item/{{_id}}">
            <span class="price" style="color:white">₱ {{price}}</span>
            <span class="add-to-cart">
              <span class="txt">View Item</span>
            </span>
          </a>
        </div>
      </div>