<script>
     $(document).ready(function() {
    
        var table = $('#defTable').DataTable({ 
          responsive: true,
          fixedHeader:true,
          "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
           "pagingType": "full"
        }); 
        new $.fn.dataTable.fixedHeader(table);
    });

</script>

<table class="table table-borderless" style="text-align: center;width:100%" id="defTable">
    <thead>
        <tr>
            <th>Color</th>
            <th>Style</th>
            <th>Description</th>
            <th>Small</th>
            <th>Medium</th>
            <th>Large</th>
            <th>Extra Large</th>
        </tr>
    </thead>
    <tbody>
        {{#each products}}
        <tr>
            <td>{{color}}</td>
            <td>{{style}}</td>
            <td>{{description}}</td>
            <td>{{smallDeficit}}</td>
            <td>{{mediumDeficit}}</td>
            <td>{{largeDeficit}}</td>
            <td>{{extraLargeDeficit}}</td>
            
        </tr>
        {{/each}}
    </tbody>
</table>