<script>
    function imgFlip(img){
       
    if (img.src == "http://localhost:3001/assets/add.png")
        img.src = "../assets/minus.png";
    else
    img.src = "../assets/add.png"
   }
</script>
<tr>
    <td class="d-xl-none" ><img id="dc" name="pic" src="../assets/add.png" onClick="imgFlip(this)" alt="" height=30px width=30px></img></td>
    <td>{{color}}</td>
    <td>{{style}}</td>
    <td>{{description}}</td>
    <td>{{smallDeficit}}</td>
    <td>{{mediumDeficit}}</td>
    <td>{{largeDeficit}}</td>
    <td>{{extraLargeDeficit}}</td>
    
</tr>
