<style>
   .hide {
  display: none;
}
    
</style>

<script>
  function clickTTL(param, bool){
    if (bool){
      $("#hide"+param.id).css("display", "block");
      $("#hide"+param.id+"2").css("display", "block");
    }
    else{
      $("#hide"+param.id+"2").click(function (e) {
      e.stopPropagation();  // Prevents the event from bubbling up the DOM tree
      $("#hide"+param.id).hide();
      $("#hide"+param.id+"2").hide();
      });
    }
  }
</script>

<td>{{date}}</td>
<td>{{batchNo}}</td>
<td>{{style}}</td>
<td>{{description}}</td>
<td>{{color}}</td>
<td><div class="myDIV" onclick="clickTTL(this, true)" id='{{_id}}' style="color:rgb(0, 72, 206)"><u>{{totalOrders}}</u></div>
  <form id="updateRemarksForm" name="updateRemarksForm" method="POST" action="/admin/production/updateRemarks">
    <div class="hide" id="hide{{_id}}" style="overflow:auto">
      <table class="table table-striped">
          <thead>
              <th>S</th>
              <th>M</th>
              <th>L</th>
              <th>XL</th>
              <th>Yardage</th>
              <th>Remarks</th>
          </thead>
          <tbody>
              <td>{{smallOrder}}</td>
              <td>{{mediumOrder}}</td>
              <td>{{largeOrder}}</td>
              <td>{{extraLargeOrder}}</td>
              <td>{{yardage}}</td>
              <td ><textarea placeholder="Maximum 80 characters" id="newRemarks" name="newRemarks" maxlength="80">{{remarks}} </textarea></td>
          </tbody>
      </table>
      </div>
      <div class="modal-footer hide" id="hide{{_id}}2">
              <textarea readonly="readonly" id="updateRemarkId" name="updateRemarkId" style="display: none;">{{_id}}</textarea>
              <button type="submit" class="btn btn-secondary" style="background-color: rgb(52, 58, 64);">Confirm</button>
              <button type="button" class="btn btn-secondary" style="background-color: rgb(52, 58, 64);" onclick="clickTTL(this, false)" id='{{_id}}'>Close</button>
      </div>
    </form></td>

{{#if isDone}}
<td>DONE</td>
{{else}}
<td>
  <textarea readonly="readonly" id="productId" name="productId" style="display: none;">{{_id}}</textarea>
  <select id="jobOrderStatusDropdown" name="jobOrderStatusDropdown" class="btn btn-primary" style = "background-color: rgb(52, 58, 64)">
  <option value="CUTTING" {{#ifCond status "CUTTING"}} selected {{/ifCond}}>Cutting</option>
  <option value="SEWING" {{#ifCond status "SEWING"}} selected {{/ifCond}}>Sewing</option>
  <option value="PRINTING" {{#ifCond status "PRINTING"}} selected {{/ifCond}}>Printing</option>
  <option value="WASHING" {{#ifCond status "WASHING"}} selected {{/ifCond}}>Washing</option>
  <option value="CANCELLED" {{#ifCond status "CANCELLED"}} selected {{/ifCond}}>Cancelled</option>
  </select>
</td>
{{/if}}

{{#if totalOutput}} <td><button class="btn btn-primary"  data-toggle="modal" data-target="#modal_ttloutput_{{_id}}">{{totalOutput}}</button></td>
{{else}}
<td>Unavailable</td>
{{/if}}

{{#if isDone}}<td></td>{{else}}
  <td><button class="btn btn-danger" data-toggle="modal" data-target="#modal_actual_{{_id}}">Resolve</button></td>
{{/if}}