<br><div class="card" style="width:100%; overflow-y:hidden">
          <table style="text-align: center; table-layout:fixed; width: 1000px; margin:auto; overflow-y:hidden; margin-top:1%;">
                  <td>{{date}}</td>
                  <td>{{batchNo}}</td>
                  <td>{{style}}</td>
                  <td>{{description}}</td>
                  <td>{{color}}</td>
                  <td>{{totalOrders}}</td>
                  <td>
                    {{#if isDone}}
                      <td>DONE</td>
                    {{else}}
                        <textarea readonly="readonly" id="productId" name="productId" style="display: none;">{{_id}}</textarea>
                        <select id="jobOrderStatusDropdown" name="jobOrderStatusDropdown" class="btn btn-primary" style = "background-color: rgb(52, 58, 64)">
                              <option value="CUTTING" {{#ifCond status "CUTTING"}} selected {{/ifCond}}>Cutting</option>
                              <option value="SEWING" {{#ifCond status "SEWING"}} selected {{/ifCond}}>Sewing</option>
                              <option value="PRINTING" {{#ifCond status "PRINTING"}} selected {{/ifCond}}>Printing</option>
                              <option value="WASHING" {{#ifCond status "WASHING"}} selected {{/ifCond}}>Washing</option>
                              <option value="CANCELLED" {{#ifCond status "CANCELLED"}} selected {{/ifCond}}>Cancelled</option>
                          </select>
                    {{/if}}
                  </td>
                  <td>{{totalOutput}}</td>
          </table><br>
          <div style="justify-content: center; display:flex; margin-bottom:1%">
              <button class="btn btn-primary" data-toggle="modal" data-target="#modal_production_{{_id}}">Production Details</button>&nbsp;
              {{#if isDone}}{{else}}
                <button class="btn btn-primary" data-toggle="modal" data-target="#modal_actual_{{_id}}">Resolve Order</button>
              {{/if}}
          </div>
      </div>

<div id="modal_production_{{_id}}" class="modal fade" role="dialog">
        <div id="divtest" class="modal-dialog" id = "md2">
          <div class="modal-content" style="background-color: rgb(247, 242, 242); text-align:center">
            <div class="modal-header" style="text-align: center;background-color;background-color: rgb(52, 58, 64);color:white">
              <h4 class="modal-title">Job Order Details</h4>
              <button type="button" class="close" data-dismiss="modal" style="color:white">&times;</button>
            </div>
            <form id="updateRemarksForm" name="updateRemarksForm" method="POST" action="/admin/production/updateRemarks">
              <table class="table table-striped">
                  <thead>
                      <th>S</th>
                      <th>M</th>
                      <th>L</th>
                      <th>XL</th>
                      <th>Yardage</th>
                      <th>Remarks</th>
                  </thead>
                  <tbody>
                      <td>{{smallOrder}}</td>
                      <td>{{mediumOrder}}</td>
                      <td>{{largeOrder}}</td>
                      <td>{{extraLargeOrder}}</td>
                      <td>{{yardage}}</td>
                      <td ><textarea placeholder="Maximum 80 characters" id="newRemarks" name="newRemarks" maxlength="80">{{remarks}} </textarea></td>
                  </tbody>
              </table>
              <div class="modal-footer">
                      <textarea readonly="readonly" id="updateRemarkId" name="updateRemarkId" style="display: none;">{{_id}}</textarea>
                      <button type="submit" class="btn btn-secondary" style="background-color: rgb(52, 58, 64);">Confirm</button>
                      <button type="button" class="btn btn-secondary" style="background-color: rgb(52, 58, 64);" data-dismiss="modal">Close</button>
              </div>
            </form>
          </div>
        </div>
</div>

<div id="modal_actual_{{_id}}" class="modal fade" role="dialog">
        <div id="divtest" class="modal-dialog" id = "md2">
          <div class="modal-content" style="background-color: rgb(247, 242, 242); text-align:center">
            <div class="modal-header" style="text-align: center;background-color;background-color: rgb(52, 58, 64);color:white">
              <h4 class="modal-title">Input Actual Outputs</h4>
              <button type="button" class="close" data-dismiss="modal" style="color:white">&times;</button>
            </div>
            <form id="resolveJobOrderForm" name="resolveJobOrderForm" method="POST" action="/admin/production/resolveJobOrder">
                <div class="modal-body" style="overflow:auto margin:auto; text-align:center; margin-top:2%">
                  <div>Note: resolving this job order will mark it as 'DONE' and update the inventory accordingly.</div>
                  <textarea readonly="readonly" id="resolveJobOrderId" name="resolveJobOrderId" style="display: none;">{{_id}}</textarea>
                  <textarea readonly="readonly" id="resolveJobOrderProductId" name="resolveJobOrderProductId" style="display: none;">{{productId}}</textarea>
                    <label for="resolveJobOrderSmallOutput">S: </label>
                    <input min="0" max="9007199254740981" type="number" name="resolveJobOrderSmallOutput" id="resolveJobOrderSmallOutput" placeholder=" Enter Small Amount"><br>
                    <label for="resolveJobOrderMediumOutput">M: </label>
                    <input min="0" max="9007199254740981" type="number" name="resolveJobOrderMediumOutput" id="resolveJobOrderMediumOutput" placeholder=" Enter Medium Amount"><br>
                    <label for="resolveJobOrderLargeOutput">L: </label>
                    <input min="0" max="9007199254740981" type="number" name="resolveJobOrderLargeOutput" id="resolveJobOrderLargeOutput" placeholder=" Enter Large Amount"><br>
                    <label for="resolveJobOrderExtraLargeOutput">XL: </label>
                    <input min="0" max="9007199254740981" type="number" name="resolveJobOrderExtraLargeOutput" id="resolveJobOrderExtraLargeOutput" placeholder=" Enter Extra Large Amount"><br>
                    <div id="resolveJobOrderError" name="resolveJobOrderError" class="text-danger" style="text-align:center"></div>
                </div>
                <div class="modal-footer">
                    <textarea readonly="readonly" id="productId" name="productId" style="display: none;">{{_id}}</textarea>
                    <button type="submit" id="resolveJobOrderBtn" name="resolveJobOrderBtn" class="btn btn-secondary" style="background-color: rgb(52, 58, 64);">Confirm</button>
                    <button type="button" class="btn btn-secondary" style="background-color: rgb(52, 58, 64);" data-dismiss="modal">Close</button>
                </div>
            </form>
          </div>
        </div>
</div>