<br><div class="card" style="width:100%; overflow-y:hidden">
          <table style="text-align: center; table-layout:fixed; width: 1000px; margin:auto; overflow-y:hidden; margin-top:1%;">
                  <td>{{date}}</td>
                  <td>1</td>
                  <td>{{style}}</td>
                  <td>{{description}}</td>
                  <td>{{color}}</td>
                  <td>{{totalOrders}}</td>
                  <td>
                      <select class="btn btn-primary" style = "background-color: rgb(52, 58, 64)">
                            <option value="CUTTING">Cutting</option>
                            <option value="SEWING">Sewing</option>
                            <option value="PRINTING">Printing</option>
                            <option value="WASHING">Washing</option>
                            <option value="CANCELLED">Cancelled</option>
                        </select>
                  </td>
                  <td>{{totalOutputs}}</td>
          </table><br>
          <div style="justify-content: center; display:flex; margin-bottom:1%">
              <button class="btn btn-primary" data-toggle="modal" data-target="#modal_production_{{_id}}">Production Details</button>&nbsp;
              <button class="btn btn-primary" data-toggle="modal" data-target="#modal_actual_{{_id}}">Input Actual Output</button>
          </div>
      </div>

<div id="modal_production_{{_id}}" class="modal fade" role="dialog">
        <div id="divtest" class="modal-dialog" id = "md2">
          <div class="modal-content" style="background-color: rgb(247, 242, 242); text-align:center">
            <div class="modal-header" style="text-align: center;background-color;background-color: rgb(52, 58, 64);color:white">
              <h4 class="modal-title">Job Order Details</h4>
              <button type="button" class="close" data-dismiss="modal" style="color:white">&times;</button>
            </div>
            <table class="table table-striped">
                <thead>
                    <th>S</th>
                    <th>M</th>
                    <th>L</th>
                    <th>XL</th>
                    <th>Yardage</th>
                    <th>Remarks</th>
                </thead>
                <tbody>
                    <td>{{smallOrder}}</td>
                    <td>{{mediumOrder}}</td>
                    <td>{{largeOrder}}</td>
                    <td>{{extraLargeOrder}}</td>
                    <td>{{yardage}}</td>
                    <td contenteditable="true", spellcheck="false", data-placeholder="gi">{{remarks}}</td>
                </tbody>
            </table>
            <div class="modal-footer">
                    <textarea readonly="readonly" id="productId" name="productId" style="display: none;">{{_id}}</textarea>
                    <button type="submit" class="btn btn-secondary" style="background-color: rgb(52, 58, 64);">Confirm</button>
                    <button type="button" class="btn btn-secondary" style="background-color: rgb(52, 58, 64);" data-dismiss="modal">Close</button>
                </div>
          </div>
        </div>
</div>

<div id="modal_actual_{{_id}}" class="modal fade" role="dialog">
        <div id="divtest" class="modal-dialog" id = "md2">
          <div class="modal-content" style="background-color: rgb(247, 242, 242); text-align:center">
            <div class="modal-header" style="text-align: center;background-color;background-color: rgb(52, 58, 64);color:white">
              <h4 class="modal-title">Input Actual Output</h4>
              <button type="button" class="close" data-dismiss="modal" style="color:white">&times;</button>
            </div>
            <form id="updateStockForm" name="updateStockForm" method="POST" action="/admin/inventory/updateStock">
                <div class="modal-body" style="overflow:auto margin:auto; text-align:center; margin-top:2%">
                    <label for="s">S: </label>
                    <input type="number" name="updateStockS" id="updateStockS" placeholder=" Enter Small Amount"><br>
                    <label for="m">M: </label>
                    <input type="number" name="updateStockM" id="updateStockM" placeholder=" Enter Medium Amount"><br>
                    <label for="l">L: </label>
                    <input type="number" name="updateStockL" id="updateStockL" placeholder=" Enter Large Amount"><br>
                    <label for="xl">XL: </label>
                    <input type="number" name="updateStockXL" id="updateStockXL" placeholder=" Enter Extra Large Amount"><br>
                    <div id="updateStockError" name="updateStockError" class="text-danger" style="text-align:center"></div>
                </div>
                <div class="modal-footer">
                    <textarea readonly="readonly" id="productId" name="productId" style="display: none;">{{_id}}</textarea>
                    <button type="submit" id="updateStockBtn" name="updateStockBtn" class="btn btn-secondary" style="background-color: rgb(52, 58, 64);">Confirm</button>
                    <button type="button" class="btn btn-secondary" style="background-color: rgb(52, 58, 64);" data-dismiss="modal">Close</button>
                </div>
            </form>
          </div>
        </div>
</div>