

<tr>
    <td class="d-xl-none" ><img id="dc" name="pic" src="../assets/add.png" onClick="imgFlip(this)" alt="" height=30px width=30px></img></td>
    <td>{{date}}</td>
    <td>{{color}}</td>
    <td>{{style}}</td>
    <td>{{description}}</td>
    <td>{{smallUpdate}}</td>
    <td>{{mediumUpdate}}</td>
    <td>{{largeUpdate}}</td>
    <td>{{extraLargeUpdate}}</td> 
</tr>
