<script>
     $(document).ready(function() {
    
        var table = $('#logTable').DataTable({ 
          responsive: true,
          fixedHeader:true,
          "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
           "pagingType": "full"
        }); 
        new $.fn.dataTable.fixedHeader(table);
    });

</script>

<table class="table table-striped" id="logTable" style="text-align: center; width:100%">
    <thead>
        <tr>
            <th>Date Enconded</th>
            <th>Color</th>
            <th>Style</th>
            <th>Description</th>
            <th>S</th>
            <th>M</th>
            <th>L</th>
            <th>XL</th>
        </tr>
    </thead>
    <tbody>
        {{#each products}}
        {{#each inventoryRecords}}
        <tr>
            <td>{{date}}</td>
            <td>{{color}}</td>
            <td>{{style}}</td>
            <td>{{description}}</td>
            <td>{{smallUpdate}}</td>
            <td>{{mediumUpdate}}</td>
            <td>{{largeUpdate}}</td>
            <td>{{extraLargeUpdate}}</td> 
        </tr>
        {{/each}}    
        {{/each}}
    </tbody>
</table>