<br><div class="container-fluid" style = "margin:auto; border-style:groove">
<br><h4 style="text-align:center"><b>Product:</b> {{color}} {{style}}</h4>
	<table class="table table-striped" style="text-align:center">
		<thead>
			<tr>
				<th>S</th>
				<th>M</th>
				<th>L</th>
				<th>XL</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{{smallAmount}}</td>
				<td>{{mediumAmount}}</td>
				<td>{{largeAmount}}</td>
				<td>{{extraLargeAmount}}</td>
			</tr>
		</tbody>
	</table>
<br><h4 style="text-align:center">Deficit Status</h4>
	<table class="table table-striped" style="text-align:center">
		<thead>
			<tr>
				<th>S</th>
				<th>M</th>
				<th>L</th>
				<th>XL</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{{smallDeficit}}</td>
				<td>{{mediumDeficit}}</td>
				<td>{{largeDeficit}}</td>
				<td>{{extraLargeDeficit}}</td>
			</tr>
		</tbody>
	</table>
</div><br><br>

