<br><div class="card w-50 h-auto" style = "margin:auto">
	<div class="card-body">
		<p class="card-text">Product: {{color}} {{style}}</p><hr>
		<p class="card-text">S: {{smallAmount}}</p>
		<p class="card-text">M: {{mediumAmount}}</p>
		<p class="card-text">L: {{largeAmount}}</p>
		<p class="card-text">XL: {{extraLargeAmount}}</p><hr>
		<p class="card-text">Deficit Status<hr> S: {{smallDeficit}} <br>M: {{mediumDeficit}} <br>L: {{largeDeficit}} <br>XL: {{extraLargeDeficit}}</p>
	</div>
</div>