<div class="col-sm-12 col-md-4">
        <div class="card mb-4">
        	<div class="card-body text-center">
            	<img src="/assets/boymask.png" width="100" height="100" class="rounded-10 d-inline-block align-top mb-1" alt="Logo">
            	<h5 class="card-title pb-2"><a href="/admin/orders/{{_id}}">{{_id}}</a></h5>
				<a href="/admin/orders/{{_id}}" class="btn btn-primary">{{paymentStatus}}</a>
            	<a href="/admin/orders/{{_id}}" class="btn btn-primary round">{{deliveryStatus}}</a>
          	</div>
        </div>
</div>