<div class="table-responsive text-center border shadow-sm rounded my-2">
	<table class="table table-borderless">
		<thead>
			<tr class="table-primary">
				<th>{{color}} {{style}}</th>
				<th>S</th>
				<th>M</th>
				<th>L</th>
				<th>XL</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Order</td>
				<td>{{smallAmount}}</td>
				<td>{{mediumAmount}}</td>
				<td>{{largeAmount}}</td>
				<td>{{extraLargeAmount}}</td>
			</tr>
			<tr>
				<td>Deficit</td>
				<td>{{smallDeficit}}</td>
				<td>{{mediumDeficit}}</td>
				<td>{{largeDeficit}}</td>
				<td>{{extraLargeDeficit}}</td>
			</tr>
		</tbody>
	</table>
</div>