<br><h5 class="card-title pb-2" style="text-align: center;">Order Details</h5>
<div class="card w-50 h-auto" style = "margin:auto">
	<div class="card-body">
		<p class="card-text">Product: {{color}} {{style}}</p>
		<p class="card-text">S: {{smallAmount}}</p>
		<p class="card-text">M: {{mediumAmount}}</p>
		<p class="card-text">L: {{largeAmount}}</p>
		<p class="card-text">XL: {{extraLargeAmount}}</p><br>
		<p class="card-text">Deficit Status: S: {{smallDeficit}} M: {{mediumDeficit}} L: {{largeDeficit}} XL: {{extraLargeDeficit}}</p>
	</div>
</div>