<script>
     $(document).ready(function() {
        if (!$.fn.DataTable.isDataTable('.table')){

            $('.table').DataTable({ // instead of id, passes class instead
                sDom: 'lrtip' // hides the search box
            }); 
        }
    });

</script>

<div class="card mb-4" style="min-width:250px">
    <div class="card-header bg-dark text-light font-weight-bold">
        {{style}} - {{color}}
    </div>
    <div class="card-body border-bottom p-0 text-center">
        <div class="justify-content-center">
            <img src="/assets/boymask.png" width="100" height="100" class="rounded-10 my-3" alt="Logo">
        </div>
        <button class="btn btn-primary" data-toggle="modal" data-target="#modal_detail_{{_id}}">Available: {{totalAvailable}}</button>
        <div class = "card-footer mt-3">
            {{#if notPhasedOut}}
                <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modal_stock_{{id}}">Add Stock</button>
            {{/if}}
            <button class="btn btn-primary btn-sm" id="Icon" data-toggle="modal" data-target="#modal_daily_{{_id}}">Log</button>
        </div>
    </div>
</div>


{{#if notPhasedOut}}
    <div id="modal_stock_{{_id}}" class="modal fade" role="dialog">
            <div id="divtest" class="modal-dialog" id = "md2">
            <div class="modal-content" style="background-color: rgb(247, 242, 242); text-align:center">
                <div class="modal-header" style="text-align: center;background-color;background-color: rgb(52, 58, 64);color:white">
                <h4 class="modal-title">Update Stock in Inventory</h4>
                <button type="button" class="close" data-dismiss="modal" style="color:white">&times;</button>
                </div>
                <form id="updateStockForm" name="updateStockForm" method="POST" action="/admin/inventory/updateStock">
                    <div class="modal-body" style="overflow:auto margin:auto; text-align:center; margin-top:2%">
                        <label for="s">S: </label>
                        <input type="number" name="updateStockS" id="updateStockS" placeholder=" Enter Small Amount"><br>
                        <label for="m">M: </label>
                        <input type="number" name="updateStockM" id="updateStockM" placeholder=" Enter Medium Amount"><br>
                        <label for="l">L: </label>
                        <input type="number" name="updateStockL" id="updateStockL" placeholder=" Enter Large Amount"><br>
                        <label for="xl">XL: </label>
                        <input type="number" name="updateStockXL" id="updateStockXL" placeholder=" Enter Extra Large Amount"><br>
                        <div id="updateStockError" name="updateStockError" class="text-danger" style="text-align:center"></div>
                    </div>
                    <div class="modal-footer">
                        <textarea readonly="readonly" id="productId" name="productId" style="display: none;">{{_id}}</textarea>
                        <button type="submit" id="updateStockBtn" name="updateStockBtn" class="btn btn-secondary" style="background-color: rgb(52, 58, 64);">Confirm</button>
                        <button type="button" class="btn btn-secondary" style="background-color: rgb(52, 58, 64);" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
            </div>
    </div>
{{/if}}

<div id="modal_detail_{{_id}}" class="modal fade" role="dialog" style="padding:0;margin:0">
        <div class="modal-dialog" id = "md3" style="min-width:80%;">
          <div class="modal-content" style="background-color: rgb(247, 242, 242);">
            <div class="modal-header" style="text-align: center;background-color;background-color: rgb(52, 58, 64);color:white">
              <h4 class="modal-title">Product Details</h4>&nbsp;&nbsp;
              <form method="POST" action="/admin/inventory/phaseOut"  style="display: flex; justify-content: center;">
			        <textarea id="phaseOutId" name="phaseOutId" readonly="readonly" style="display: none;">{{_id}}</textarea><br>
			        <button type="submit" class="btn btn-primary" style = "background-color: rgb(163, 47, 47); color:white; float:left">Phase out</button>	
		        </form>
              <button type="button" class="close" data-dismiss="modal" style="color:white">&times;</button>
            </div>
            <div class="modal-body" style="overflow-y:auto">
                <table class = "table table-striped" style="text-align:">
                    <thead>
                        <tr>
                            <th>Color</th>
                            <th>Style</th>
                            <th>Price</th>
                            <th>Small</th>
                            <th>Medium</th>
                            <th>Large</th>
                            <th>Extra Large</th>
                            <th>Total Available</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{color}}</td>
                            <td>{{style}}</td>
                            <td>{{price}}</td>
                            <td>{{smallAvailable}}</td>
                            <td>{{mediumAvailable}}</td>
                            <td>{{largeAvailable}}</td>
                            <td>{{extraLargeAvailable}}</td>
                            <td>{{totalAvailable}}</td>
                        </tr>
                    </tbody>
                </table><br><br>
                <h4 style="text-align: center;">Deficit</h4><hr>
                <table style="text-align: center;width:100%">
                    <thead>
                        <tr>
                            <th>Small</th>
                            <th>Medium</th>
                            <th>Large</th>
                            <th>Extra Large</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{smallDeficit}}</td>
                            <td>{{mediumDeficit}}</td>
                            <td>{{largeDeficit}}</td>
                            <td>{{extraLargeDeficit}}</td>
                        </tr>
                    </tbody>
                </table>
                
            </div>
            <div class="modal-footer">
               	
               <button type="button" class="btn btn-secondary" style="background-color: rgb(52, 58, 64);" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
</div>

<div id="modal_daily_{{_id}}" class="modal fade" role="dialog" style="padding:0;margin:0">
        <div class="modal-dialog" id = "md4" style="min-width:80%;">
          <div class="modal-content" style="background-color: rgb(247, 242, 242);">
            <div class="modal-header" style="text-align: center;background-color;background-color: rgb(52, 58, 64);color:white">
              <h4 class="modal-title">Product Details</h4>
              <button type="button" class="close" data-dismiss="modal" style="color:white">&times;</button>
            </div>
            <div class="modal-body" style="overflow-y:auto">
                
                <h4 style="text-align: center;">Daily Production Record {{style}} {{color}}</h4>
                <table class="table table-striped" id="table1" style="text-align: center;">
                    <thead>
                        <tr>
                            <th>Date Enconded</th>
                            <th>S</th>
                            <th>M</th>
                            <th>L</th>
                            <th>XL</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each inventoryRecords}}
                        <tr>
                            
                                <td>{{date}}</td>
                                <td>{{smallUpdate}}</td>
                                <td>{{mediumUpdate}}</td>
                                <td>{{largeUpdate}}</td>
                                <td>{{extraLargeUpdate}}</td>
                            
                        </tr>
                        {{/each}}    
                    </tbody>
                </table>
                
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-secondary" style="background-color: rgb(52, 58, 64);" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
</div>

