<div class="card" style="padding:15px;font-family: 'Lora'">
        <table id="productTable" class="center" style="text-align: center;overflow:auto;">
            <thead>
                <tr>
                    <!-- must change this into the product picture -->
                    <th><img src="/productimgs/{{image}}" width="100" height="100" class=" p-1 rounded-10 d-inline-block align-top mb-1" alt="Logo"></th>
                    <th>{{style}} - {{description}} - {{color}}</th>
                    <th>₱ {{price}} </th>
                    <th>S: {{smallAmount}} M: {{mediumAmount}} </th>
                    <th>L: {{largeAmount}} XL: {{largeAmount}}</th>
                </tr>
            </thead>
        </table>
</div>