<!DOCTYPE html>
<html>
<head>
    <title> Orders </title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/style1.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script defer src="https://friconix.com/cdn/friconix.js"> </script>
</head>

<body style="background-color: rgb(247, 242, 242);">

    <div class="col-sm-2 sidenav">
        <div class="content-sidenav">
            <div class="card-body text-center">
                <div class="cards" >
                    <div class="card-body">
                      <h4 class="card-title">Filter</h4>
                        <div class = "media-text">
                            <p class="card-text">Deliver Status</p>
                            <select style="border:solid; background-color: rgba(126, 125, 125, 0); cursor:pointer">
                                <option value="">Shipped Out</option>
                                <option>Ongoing</option>
                            </select>
                        </div>  
                      <p class="card-text">Payment Status</p>
                        <div class = "media-text">
                        <select style="border:solid; background-color: rgba(126, 125, 125, 0); cursor:pointer">
                            <option value="">Paid</option>
                            <option>COD</option>
                        </select>
                        </div>  
                      <p class="card-text">Date</p> 
                      <form action="">
                        <input type="date" id="date" name="birthdaydate">
                      </form>
                      <span class="input-group-btn filterbtn">
                        <button class="btn btn-primary" type="button">Filter</button>
                    </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card-columns"> 
        <div class="card-body text-center">
            <div class="card" style="width:300px">
                <img class="card-img-top" src={{product_img}} alt="Card image">
                <div class="card-body">
                  <h4 class="card-title">{{Order_Number}}</h4>
                  <p class="card-text">{{Name}}</p>
                  <p class="card-text">{{Address}}</p>
                  <p class="card-text">{{Email}}</p>
                  <p class="card-text">{{ContactNumber}}</p>
                  <p class="card-text">{{MOD}}-{{MOP}}</p>
                  <a href="#" class="btn btn-primary">Ship Out</a>
                </div>
            </div>
        </div>
        
        <div class="card-body text-center">
            <div class="card" style="width:300px">
                <img class="card-img-top" src={{product_img}} alt="Card image">
                <div class="card-body">
                  <h4 class="card-title">{{Order_Number}}</h4>
                  <p class="card-text">{{Name}}</p>
                  <p class="card-text">{{Address}}</p>
                  <p class="card-text">{{Email}}</p>
                  <p class="card-text">{{ContactNumber}}</p>
                  <p class="card-text">{{MOD}}-{{MOP}}</p>
                  <a href="#" class="btn btn-primary">Ship Out</a>
                </div>
            </div>
        </div>

        <div class="card-body text-center">
            <div class="card" style="width:300px">
                <img class="card-img-top" src={{product_img}} alt="Card image">
                <div class="card-body">
                  <h4 class="card-title">{{Order_Number}}</h4>
                  <p class="card-text">{{Name}}</p>
                  <p class="card-text">{{Address}}</p>
                  <p class="card-text">{{Email}}</p>
                  <p class="card-text">{{ContactNumber}}</p>
                  <p class="card-text">{{MOD}}-{{MOP}}</p>
                  <a href="#" class="btn btn-primary">Ship Out</a>
                </div>
            </div>
        </div>
        
        <div class="card-body text-center">
            <div class="card" style="width:300px">
                <img class="card-img-top" src={{product_img}} alt="Card image">
                <div class="card-body">
                  <h4 class="card-title">{{Order_Number}}</h4>
                  <p class="card-text">{{Name}}</p>
                  <p class="card-text">{{Address}}</p>
                  <p class="card-text">{{Email}}</p>
                  <p class="card-text">{{ContactNumber}}</p>
                  <p class="card-text">{{MOD}}-{{MOP}}</p>
                  <a href="#" class="btn btn-primary">Ship Out</a>
                </div>
            </div>
        </div>
        <div class="card-body text-center">
            <div class="card" style="width:300px">
                <img class="card-img-top" src={{product_img}} alt="Card image">
                <div class="card-body">
                  <h4 class="card-title">{{Order_Number}}</h4>
                  <p class="card-text">{{Name}}</p>
                  <p class="card-text">{{Address}}</p>
                  <p class="card-text">{{Email}}</p>
                  <p class="card-text">{{ContactNumber}}</p>
                  <p class="card-text">{{MOD}}-{{MOP}}</p>
                  <a href="#" class="btn btn-primary">Ship Out</a>
                </div>
            </div>
        </div>
        
    </div>


<div class="search">
    <div class="input-group">
    <input type="text" placeholder="Search Order Number">
    <span class="input-group-btn">
        <button class="btn btn-primary" type="button"><i class="fi-xnluhl-magnifying-glass"></i></button>
    </span>
    </div>
</div>

</body>
</html>
