<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="../css/styles_customer.css">

<style>
    .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    }

    .carousel-indicators .active{
        background-color:black;
    }

    .col-md-3{
        display: inline-block;
    }
    .col-md-3 img{
        width:240px;
        height:240px;
        padding:15px;
    }
    #carouselExampleIndicators .carousel-item img{
        width:auto;
        height:350px;
    }
</style>

<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v8.0" nonce="Nv8MumiY"></script>

<div style="margin-top:100px"><img src="../assets/best.png" style="width:150px;height:50px;"></div>

<div>
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="background-color:rgb(52, 58, 64);width:100%;margin-bottom:80px;">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <a href="/cart{{id}}"><img src="../assets/mask.jpg" class="center"></a>
            <div class="carousel-caption">
              <h3>Product A{{style}} {{description}} {{color}}</h3>
              <p>300 php{{price}}</p>
            </div>
        </div>
        <div class="carousel-item">
            <a href="/cart{{id}}"><img src="../assets/mask.jpg" class="center"></a>
            <div class="carousel-caption">
              <h3>Product B{{style}} {{description}} {{color}}</h3>
              <p>200 php{{price}}</p>
            </div>
        </div>
        <div class="carousel-item">
            <a href="/cart{{id}}"><img src="../assets/mask.jpg" class="center"></a>
            <div class="carousel-caption">
              <h3>Product C{{style}} {{description}} {{color}}</h3>
              <p>150 php{{price}}</p>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="container text-center my-3" style="width:75%;min-height:150px">
    <div class="row mx-auto my-auto">
        <div id="recipeCarousel" class="carousel slide w-100" data-ride="carousel" style="min-height:150px">
            <div class="carousel-inner w-100" role="listbox" style="min-height:150px">
                <div class="carousel-item active" style="background-color: #3b5998;min-height:150px">
                    <div class="fb-page" style="min-height:150px;padding:10px" data-href="https://www.facebook.com/FACEMUSTPH" data-tabs="" data-width="242" data-height="350" data-small-header="true" data-adapt-container-width="false" data-hide-cover="true" data-show-facepile="true"><blockquote cite="https://www.facebook.com/FACEMUSTPH" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/FACEMUSTPH">FACE MUST</a></blockquote></div>
                </div>
                <div class="carousel-item" style="background-color: #ffa500;min-height:150px">
                    <a href="https://shopee.ph/shopeeph"> <img src="https://cfshopeesg-a.akamaihd.net/file/f0bfbe61296cce0f59ec3d0ca279eeb5" class="center" style="object-fit:scale-down;min-height:150px"></a></div>
                <div class="carousel-item" style="height: 150px;">
                    <a href="/cart{{id}}"><img src="../assets/horizontal.png" style="object-fit:contain;width:100%;height:150px"></a>   
                </div>
            </div>
            <a class="carousel-control-prev w-auto" href="#recipeCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon bg-dark border border-dark rounded-circle" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next w-auto" href="#recipeCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon bg-dark border border-dark rounded-circle" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>

<h3 style="width:140px;margin-top:100px">Catalogues</h3>
<div class="container page-wrapper">
  <div class="page-inner">
    <div class="row">

      <div class="el-wrapper">
        <div class="box-up">
          <img class="img" src="../assets/mask.jpg" alt="" style="width: 100%;height:100%">
          <div class="img-info">
            <div class="info-inner">
              <span class="p-name" style="margin-top:30px">Duckbill Flat</span>
              <span class="p-company">Red</span>
            </div>
            <div class="a-size">Available sizes : <span class="size">S , M , L , XL</span></div>
          </div>
        </div>

        <div class="box-down">
          <div class="h-bg">
            <div class="h-bg-inner"></div>
          </div>

          <a class="cart" href="#">
            <span class="price">300php {{price}}</span>
            <span class="add-to-cart">
              <span class="txt">Add in cart</span>
            </span>
          </a>
        </div>
      </div>

        <div class="el-wrapper">
        <div class="box-up">
          <img class="img" src="../assets/mask.jpg" alt="" style="width: 100%;height:100%">
          <div class="img-info">
            <div class="info-inner">
              <span class="p-name" style="margin-top:30px">Duckbill Flat</span>
              <span class="p-company">Red</span>
            </div>
            <div class="a-size">Available sizes : <span class="size">S , M , L , XL</span></div>
          </div>
        </div>

        <div class="box-down">
          <div class="h-bg">
            <div class="h-bg-inner"></div>
          </div>

          <a class="cart" href="#">
            <span class="price">300php {{price}}</span>
            <span class="add-to-cart">
              <span class="txt">Add in cart</span>
            </span>
          </a>
        </div>
      </div>

      <div class="el-wrapper">
        <div class="box-up">
          <img class="img" src="../assets/mask.jpg" alt="" style="width: 100%;height:100%">
          <div class="img-info">
            <div class="info-inner">
              <span class="p-name" style="margin-top:30px">Duckbill Flat</span>
              <span class="p-company">Red</span>
            </div>
            <div class="a-size">Available sizes : <span class="size">S , M , L , XL</span></div>
          </div>
        </div>

        <div class="box-down">
          <div class="h-bg">
            <div class="h-bg-inner"></div>
          </div>

          <a class="cart" href="#">
            <span class="price">300php {{price}}</span>
            <span class="add-to-cart">
              <span class="txt">Add in cart</span>
            </span>
          </a>
        </div>
      </div>

      <div class="el-wrapper">
        <div class="box-up">
          <img class="img" src="../assets/mask.jpg" alt="" style="width: 100%;height:100%">
          <div class="img-info">
            <div class="info-inner">
              <span class="p-name" style="margin-top:30px">Duckbill Flat</span>
              <span class="p-company">Red</span>
            </div>
            <div class="a-size">Available sizes : <span class="size">S , M , L , XL</span></div>
          </div>
        </div>

        <div class="box-down">
          <div class="h-bg">
            <div class="h-bg-inner"></div>
          </div>

          <a class="cart" href="#">
            <span class="price">300php {{price}}</span>
            <span class="add-to-cart">
              <span class="txt">Add in cart</span>
            </span>
          </a>
        </div>
      </div>

      <div class="el-wrapper">
        <div class="box-up">
          <img class="img" src="../assets/mask.jpg" alt="" style="width: 100%;height:100%">
          <div class="img-info">
            <div class="info-inner">
              <span class="p-name" style="margin-top:30px">Duckbill Flat</span>
              <span class="p-company">Red</span>
            </div>
            <div class="a-size">Available sizes : <span class="size">S , M , L , XL</span></div>
          </div>
        </div>

        <div class="box-down">
          <div class="h-bg">
            <div class="h-bg-inner"></div>
          </div>

          <a class="cart" href="#">
            <span class="price">300php {{price}}</span>
            <span class="add-to-cart">
              <span class="txt">Add in cart</span>
            </span>
          </a>
        </div>
      </div>

      <div class="el-wrapper">
        <div class="box-up">
          <img class="img" src="../assets/mask.jpg" alt="" style="width: 100%;height:100%">
          <div class="img-info">
            <div class="info-inner">
              <span class="p-name" style="margin-top:30px">Duckbill Flat</span>
              <span class="p-company">Red</span>
            </div>
            <div class="a-size">Available sizes : <span class="size">S , M , L , XL</span></div>
          </div>
        </div>

        <div class="box-down">
          <div class="h-bg">
            <div class="h-bg-inner"></div>
          </div>

          <a class="cart" href="#">
            <span class="price">300php {{price}}</span>
            <span class="add-to-cart">
              <span class="txt">Add in cart</span>
            </span>
          </a>
        </div>
      </div>

    </div>
  </div>
</div>


</div>