<link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet'>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<style>
    #productTable th{
       min-width:250px;
       max-width:250px;
    }
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
</style>

<div class="card" style="padding:15px;margin-top:5%;font-family: 'Lora';background-color:rgb(52, 58, 64);color:White">
    <h4>Order Tracking - asdasdawq321{{_id}}</h4>
</div>
<div class="card" style="padding:15px;font-family: 'Lora';margin-top:-5px;">
    <table>
        <thead>
            <tr>
                <th>Delivery Status</th>
                <th>Payment Status</th>
                <th>Shipping Fee</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Delivering {{deliveryStatus}}</td>
                <td>Paid {{paymentStatus}}</td>
                <td>₱ {{shipping}}200</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="card" style="padding:15px;font-family: 'Lora';margin-top:-5px;">
    <table>
        <thead>
            <tr>
                <th>Delivery Address</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>EGI Taft Tower Unit 1000, Taft Avenue, Malate Metro Manila 1004 {{address}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="card" style="padding:15px;font-family: 'Lora';background-color:rgb(52, 58, 64);color:White">
    <h5>Order Details</h5>
</div>
<!-- trackOrder hbs card template -->
<div class="card" style="padding:15px;font-family: 'Lora'">
        <table id="productTable" class="center" style="text-align: center;overflow:auto;">
            <thead>
                <tr>
                    <!-- must change this into the product picture -->
                    <th><img src="/assets/boymask.png" width="100" height="100" class=" p-1 rounded-10 d-inline-block align-top mb-1" alt="Logo"></th>
                    <th>Premium AIRism Face Mask{{description}} - {{color}}Blue</th>
                    <th>₱ {{price}}200 </th>
                    <th>Quantity: 1</th>
                </tr>
            </thead>
        </table>
</div>
<div class="card" style="padding:15px;font-family: 'Lora'">
        <table id="productTable" class="center" style="text-align: center;overflow:auto;">
            <thead>
                <tr>
                    <!-- must change this into the product picture -->
                    <th><img src="/assets/boymask.png" width="100" height="100" class=" p-1 rounded-10 d-inline-block align-top mb-1" alt="Logo"></th>
                    <th>Premium AIRism Face Mask{{description}} - {{color}}Blue</th>
                    <th>₱ {{price}}200 </th>
                    <th>Quantity: 1</th>
                </tr>
            </thead>
        </table>
</div>

{{#each products}}
    {{> trackOrder}}
{{/each}}




<div class="card" style="padding:15px;font-family: 'Lora'">
        <table class="center" style="text-align: center;overflow:auto;width:auto">
            <thead>
                <tr>
                    <th>Total:   </th>
                    <th>₱ 400 + 200</th>
                </tr>
            </thead>
        </table>
</div>
<br>

