<link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet'>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<style>
    #productTable th{
       min-width:250px;
       max-width:250px;
    }
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
</style>

<div class="card" style="padding:15px;margin-top:5%;font-family: 'Lora';background-color:rgb(52, 58, 64);color:White">
    <h4>Order Tracking - {{_id}}</h4>
</div>
<div class="card" style="padding:15px;font-family: 'Lora';margin-top:-5px;">
    <table>
        <thead>
            <tr>
                <th>Delivery Status</th>
                <th>Payment Status</th>
                <th>Shipping Fee</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{deliveryStatus}}</td>
                <td>{{paymentStatus}}</td>
                <td>{{shippingFee}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="card" style="padding:15px;font-family: 'Lora';margin-top:-5px;">
    <table>
        <thead>
            <tr>
                <th>Delivery Address</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{address}}</td>
                <td>{{firstname}} {{lastname}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="card" style="padding:15px;font-family: 'Lora';background-color:rgb(52, 58, 64);color:White">
    <h5>Order Details</h5>
</div>
<!-- trackOrder hbs card template -->


{{#each orderItems}}
    {{> trackOrder}}
{{/each}}




<div class="card" style="padding:15px;font-family: 'Lora'">
        <table class="center" style="text-align: center;overflow:auto;width:auto">
            <thead>
                <tr>
                    <th>Base Price (without shipping fee):   </th>
                    <th>₱{{basePrice}}</th>
                </tr>
                <tr>
                    <th>Shipping Fee: </th>
                    <th>{{shippingFee}}</th>
                </tr>
                <tr>
                    <th>Total: </th>
                    <th>₱{{totalPrice}}</th>
                </tr>
            </thead>
        </table>
</div>
<br>

